@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* css for the animate the cards */

.card {
  --offsetY: 0vmin;
  --rotate: 0deg;
  --translateX: 0vmin;
  --translateY: 0vmin;
  width: 30vmin;
  height: 60vmin;
  overflow: hidden;
  flex-shrink: 0;

  transform: rotate(var(--rotate)) translateX(var(--translateX))
    translateY(calc(var(--offsetY)+ var(--translateY)));
  transition: all 0.3s linear;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
  
    scale: 1.05;
    transition: all 0.3s linear;
  }
}

.card:nth-child(1) {
  --rotate: -20deg;
  --translateX: 30vmin;
  --translateY : 10vmin;
  transform: rotate(var(--rotate)) translateX(var(--translateX))
    translateY(calc(var(--offsetY)+ var(--translateY)));

}


.card:nth-child(2) {
  transform: rotate(-5deg);

}
.card:nth-child(3) {
  transform: rotate(-5deg);
}
.card:nth-child(5) {
  transform: rotate(5deg);
  --translate : 100px
  
}

.card:nth-child(6) {
  transform: rotate(5deg);
  &:hover{

    transform: rotate(-5deg) translateY(var(--translate));
    
  }
}
.card:nth-child(7) {
  transform: rotate(5deg);
}


.card:hover + .card{
  background-color: rgb(140, 255, 0);
  transform:  translateX(10vmin);
} 

.card:hover + .card + .card{
  background-color: blue;
} 

.card:has(+.card:hover){
  background-color: blueviolet;
  transform: translateX(-10vmin);
}

.card:has( .card +.card:hover){
  background-color: rgb(227, 5, 219);
}


/* css for the footer */

.list:nth-child(1):hover{
 font-size: 35px;
 font-weight: bold;
 
}

.list:nth-child(2):hover{
 font-size: 35px;
}

.list:nth-child(3):hover{
 font-size: 35px;
 font-weight: bold;
}

