@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #000000;
  --foreground: oklch(0.985 0 0);
  --card: #000000;
  --card-foreground: oklch(0.985 0 0);
  --popover: #000000;
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: #000000;
  --secondary-foreground: oklch(0.985 0 0);
  --muted: #000000;
  --muted-foreground: oklch(0.708 0 0);
  --accent: #000000;
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: #1a1a1a;
  --input: #1a1a1a;
  --ring: #1a1a1a;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #000000;
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #000000;
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: #1a1a1a;
  --sidebar-ring: oklch(0.439 0 0);
}


@layer base {
  body {
    @apply bg-background text-foreground;
  }
}



/* css for the animate the cards */

.card {
  --offsetY: 0vmin;
  --rotate: 0deg;
  --translateX: 0vmin;
  --translateY: 0vmin;
  width: 30vmin;
  height: 60vmin;
  overflow: hidden;
  flex-shrink: 0;

  transform: rotate(var(--rotate)) translateX(var(--translateX))
    translateY(calc(var(--offsetY)+ var(--translateY)));
  transition: all 0.3s linear;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover {
  
    scale: 1.05;
    transition: all 0.3s linear;
  }
}

.card:nth-child(1) {
  --rotate: -20deg;
  --translateX: 30vmin;
  --translateY : 10vmin;
  transform: rotate(var(--rotate)) translateX(var(--translateX))
    translateY(calc(var(--offsetY)+ var(--translateY)));

}


.card:nth-child(2) {
  transform: rotate(-5deg);

}
.card:nth-child(3) {
  transform: rotate(-5deg);
}
.card:nth-child(5) {
  transform: rotate(5deg);
  --translate : 100px
  
}

.card:nth-child(6) {
  transform: rotate(5deg);
  &:hover{

    transform: rotate(-5deg) translateY(var(--translate));
    
  }
}
.card:nth-child(7) {
  transform: rotate(5deg);
}


.card:hover + .card{
  background-color: rgb(140, 255, 0);
  transform:  translateX(10vmin);
} 

.card:hover + .card + .card{
  background-color: blue;
} 

.card:has(+.card:hover){
  background-color: blueviolet;
  transform: translateX(-10vmin);
}

.card:has( .card +.card:hover){
  background-color: rgb(227, 5, 219);
}


/* css for the footer */

.list:nth-child(1):hover{
 font-size: 35px;
 font-weight: bold;
 
}

.list:nth-child(2):hover{
 font-size: 35px;
}

.list:nth-child(3):hover{
 font-size: 35px;
 font-weight: bold;
}

